.settings__setting {
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0,0.1);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@keyframes settingsIcon {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}

.settings__setting i {
    opacity: 0.8;
    margin-right: 20px;
    font-size: 22px;
}

.settings__setting i:hover {
    opacity: 0.9;
    margin-right: 20px;
    font-size: 25px;
    animation: settingsIcon 1s ease-in-out infinite;
}

.settings__setting-column:last-child {
    opacity: 0.5;
}